<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Seninle Anılarım</title>
</head>
<body>
    <audio autoplay loop>
        <source src="/music/lover.mp3" type="audio/mpeg">
        Tarayıcınız müzik çaları desteklemiyor.
    </audio>

    @RenderBody()
</body>
</html>